---
---
<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>연구활동 | 사단법인 한국방송비평학회</title>
<link rel="stylesheet" href="assets/style.css">
</head>
<body>

{% include header.html %}

<div class="page-header">
  <h1>방송비평상</h1>
  <p>한국방송비평학회의 방송비평상은 2006년 제1회를 시작으로 매년 드라마, 라디오, 시사교양, 예능, 다큐멘터리, 소셜미디어 등 6개 부문에서 우수 프로그램을 선정해 시상하는 상입니다.</p>
   <p>매년 2월 방송비평상 시상식이 개최됩니다.</p>

</div>
  <section class="section">
    <div class="container">
      <h2>2024 방송비평상 선정작 (제17회)</h2>
      <p>서강대학교 가브리엘관 2025.02.26</p>
      <div class="award-layout">
        <table class="info-table">
          <thead>
          <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
          </thead>
          <tr><th>드라마</th><td>jTBC</td><td>옥씨부인전</td></tr>
          <tr><th>시사교양</th><td>SBS</td><td>TV동물농장</td></tr>
          <tr><th>예능</th><td>넷플릭스</td><td>흑백 요리사, 요리계급전쟁</td></tr>
          <tr><th>다큐멘터리</th><td>EBS</td><td>돈의 얼굴</td></tr>
          <tr><th>라디오</th><td>MBC</td><td>지역생존 프로젝트, 우리 고향 안녕하십니까?</td></tr>
          <tr><th>소셜미디어</th><td>유튜브</td><td>너진똑 NJT_BOOK</td></tr>
        </table>
        <div class="award-photo">
          <img src="images/awards/2024.jpg" alt="2024 방송비평상 시상식 단체사진">
        </div>
      </div>
    </div>
  </section>
   <section class="section alt">
    <div class="container">
      <h2>2023 방송비평상 선정작 (제16회)</h2>
      <p>서강대학교 가브리엘관 2024.02.28</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>        
      <tr><th>드라마1</th><td>MBC</td><td>연인</td></tr>
      <tr><th>드라마2</th><td>넷플릭스</td><td>정신병동에도 아침이 와요</td></tr>  
      <tr><th>시사교양</th><td>tvN</td><td>벌거벗은 세계사</td></tr>
      <tr><th>예능</th><td>jTBC</td><td>최강야구</td></tr>
      <tr><th>다큐멘터리</th><td>SBS</td><td>고래와 나</td></tr>    
      <tr><th>라디오</th><td>KBS</td><td>FM 풍류마을</td></tr>    
      <tr><th>소셜미디어</th><td>유튜브</td><td>iGoBart</td></tr>    
      </table>
      <div class="award-photo">
          <img src="images/awards/2023.jpg" alt="2023 방송비평상 시상식 단체사진">
        </div>
      </div>
    </div>
  </section>  
   <section class="section">
    <div class="container">
      <h2>2022 방송비평상 선정작 (제15회)</h2>
      <p>서강대학교 가브리엘관 2022.12.08</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>        
      <tr><th>드라마</th><td>jTBC</td><td>나의 해방일지</td></tr>
      <tr><th>시사교양</th><td>EBS</td><td>위대한 수업-그레이트 마인즈</td></tr>
      <tr><th>예능</th><td>tvN</td><td>신박한 정리</td></tr>
      <tr><th>다큐멘터리</th><td>SBS</td><td>SBS스페셜, 국과수</td></tr>    
      <tr><th>라디오</th><td>KBS</td><td>KBS무대</td></tr>    
      <tr><th>소셜미디어</th><td>서울시립<br>청소년미디어센터</td><td>스스로넷</td></tr>    
      </table>
     <div class="award-photo">
          <img src="images/awards/2022.jpg" alt="2022 방송비평상 시상식 단체사진">
        </div>
      </div>
    </div>
  </section>
   <section class="section alt">
    <div class="container">
      <h2>2021 방송비평상 선정작 (제14회)</h2>
      <p>서강대학교 가브리엘관 2021.12.09</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>        
      <tr><th>드라마</th><td>넷플릭스</td><td>오징어게임</td></tr>
      <tr><th>시사교양</th><td>SBS</td><td>꼬리에 꼬리를 무는 그날 이야기</td></tr>
      <tr><th>예능</th><td>tvN</td><td>유 퀴즈 온 더 블록</td></tr>
      <tr><th>다큐멘터리</th><td>KBS</td><td>KBS대기획 키스 더 유니버스</td></tr>    
      <tr><th>라디오</th><td>MBC</td><td>이진우의 손에 잡히는 경제</td></tr>    
      <tr><th>소셜미디어</th><td>푸른나무재단</td><td>투게더 프로젝트 '장난과 폭력사이'</td></tr>    
      </table>
     <div class="award-photo">
          <img src="images/awards/2021.jpg" alt="2021 방송비평상 시상식 단체사진">
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2018 방송비평상 선정작 (제13회)</h2>
      <p>뉴국제호텔 2018.12.17</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>        
      <tr><th>드라마</th><td>tvN</td><td>미스터 선샤인</td></tr>
      <tr><th>시사교양</th><td>CBS라디오</td><td>시사자키 정관용입니다</td></tr>
      <tr><th>예능</th><td>KBS</td><td>대국민 토크쇼 안녕하세요</td></tr>
      <tr><th>다큐멘터리</th><td>SBS</td><td>일요특선다큐-천연물에 주목하라, 글로벌 신약 전쟁</td></tr>    
      <tr><th>모바일</th><td>네이버웹툰</td><td>씬커</td></tr>    
      </table>
     <!-- <div class="award-photo">
          <img src="images/awards/2018.jpg" alt="2018 방송비평상 시상식 단체사진">
        </div> -->
      </div>
    </div>
  </section>
  <section class="section alt">
    <div class="container">
      <h2>2017 방송비평상 선정작 (제12회)</h2>
      <p>코바코 대회의실(프레스센터 17층) 2017.12.17</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>드라마</th><td>tvN</td><td>비밀의 숲</td></tr>
      <tr><th>다큐멘터리</th><td>KBS</td><td>KBS 대기획 UHD 4부작 순례</td></tr>
      <tr><th>시사교양</th><td>KBS 1TV</td><td>시사기획 창</td></tr>
      <tr><th>예능</th><td>MBC</td><td>황금어장 라디오스타</td></tr>
      <tr><th>모바일</th><td>대도서관TV</td><td>60초-핵전쟁에서 살아남기</td></tr>
      <tr><th>특별상</th><td>KT SkyLife</td><td>—</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2016 방송비평상 선정작 (제11회)</h2>
      <p>코바코 대회의실(프레스센터 17층) 2016.12.15</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>보도</th><td>JTBC</td><td>최순실 박 대통령 연설문 개입 특종 보도</td></tr>
      <tr><th>다큐멘터리</th><td>KBS 1TV</td><td>KBS스페셜-위대한 유산(4부작)</td></tr>
      <tr><th>웹툰</th><td>네이버 웹툰</td><td>마음의 소리</td></tr>
      <tr><th>예능</th><td>SBS</td><td>미운 우리 새끼</td></tr>
      <tr><th>드라마</th><td>tvN</td><td>디어 마이 프렌즈</td></tr>
      <tr><th>특별상</th><td>(주)딜라이브</td><td>서울 경기 케이블 TV</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section alt">
    <div class="container">
      <h2>2015 방송비평상 선정작 (제10회)</h2>
      <p>서강대학교 가브리엘관 2015.12.16</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>보도</th><td>JTBC</td><td>뉴스룸-앵커 브리핑</td></tr>
      <tr><th>다큐멘터리</th><td>KBS 1TV</td><td>끌려간 소녀들, 버마전선에서 사라지다</td></tr>
      <tr><th>예능</th><td>tvN</td><td>삼시세끼 어촌편</td></tr>
      <tr><th>예능</th><td>MBC</td><td>복면가왕</td></tr>
      <tr><th>드라마</th><td>SBS</td><td>펀치</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2014 방송비평상 선정작 (제9회)</h2>
      <p>서강대학교 가브리엘관 2014.12.17</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>드라마</th><td>KBS 2TV</td><td>가족끼리 왜 이래</td></tr>
      <tr><th>다큐멘터리</th><td>EBS</td><td>다큐프라임 '데스(Death)' 3부작</td></tr>
      <tr><th>드라마</th><td>tvN</td><td>미생</td></tr>
      <tr><th>다큐멘터리</th><td>대구MBC</td><td>대한민국 독도 3D</td></tr>
      <tr><th>특별상</th><td>한국방송실연자협회</td><td>『한국TV드라마 50년사』 전2권 발간</td></tr>
      <tr><th>특별상</th><td>홈초이스</td><td>UHD 케이블TV 채널 '유맥스' 개국</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section alt">
    <div class="container">
      <h2>2013 방송비평상 선정작 (제8회)</h2>
      <p>서강대학교 가브리엘관 2013.12.18</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>라디오</th><td>CBS 라디오</td><td>김현정의 뉴스쇼</td></tr>
      <tr><th>보도</th><td>KBS 탐사제작부</td><td>영훈국제중 부정입학 연속보도</td></tr>
      <tr><th>보도</th><td>YTN 정치부</td><td>한국행 희망 탈북 청소년 9명 라오스에서 추방</td></tr>
      <tr><th>보도</th><td>광주MBC 취재부</td><td>수사기관 개인정보 무단조회 이대로 좋은가?</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2012 방송비평상 선정작 (제7회)</h2>
      <p>서강대학교 가브리엘관 2012.12.12</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>지상파</th><td>KBS 2</td><td>넝쿨째 굴러온 당신</td></tr>
      <tr><th>드라마</th><td>tvN</td><td>응답하라 1997</td></tr>
      <tr><th>라디오</th><td>국악FM방송</td><td>행복한 문학</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section alt">
    <div class="container">
      <h2>2011 방송비평상 선정작 (제6회)</h2>
      <p>서강대학교 가브리엘관 2011.12.12</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>예능</th><td>KBS</td><td>해피선데이 '남자의 자격' 청춘합창단</td></tr>
      <tr><th>시사교양</th><td>MBC 플러스미디어</td><td>스틸루트</td></tr>
      <tr><th>시사교양</th><td>EBS</td><td>세계테마기행</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2010 방송비평상 선정작 (제5회)</h2>
      <p>서강대학교 가브리엘관 2010.12.15</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>예능</th><td>KBS 1TV</td><td>콘서트 7080</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section alt">
    <div class="container">
      <h2>2009 방송비평상 선정작 (제4회)</h2>
      <p>서강대학교 가브리엘관 2009.12.23</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>다큐멘터리</th><td>KBS 1TV</td><td>다큐멘터리 3일</td></tr>
      <tr><th>다큐멘터리</th><td>SBS</td><td>자연으로 돌아간 반달곰</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2008 방송비평상 선정작 (제3회)</h2>
      <p>서강대학교 가브리엘관 2008.12.19</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>드라마</th><td>MBC</td><td>이산</td></tr>
      <tr><th>시사교양</th><td>EBS</td><td>한반도의 공룡</td></tr>
      <tr><th>예능</th><td>SBS</td><td>일요일이 좋다</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section alt">
    <div class="container">
      <h2>2007 방송비평상 선정작 (제2회)</h2>
      <p>방송회관 3층 회의장 2007.12.20</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>드라마</th><td>KBS 1</td><td>대조영</td></tr>
      <tr><th>시사교양</th><td>KBS 1</td><td>이영돈 PD의 소비자고발</td></tr>
      <tr><th>예능</th><td>MBC</td><td>거침없이 하이킥</td></tr>
      <tr><th>케이블·위성</th><td>CGV</td><td>8일</td></tr>
      </table>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <h2>2006 방송비평상 선정작 (제1회)</h2>
      <p>한국방송회관 3층 세미나실 2006.11.30</p>
      <div class="award-layout">
      <table class="info-table">
      <thead>
      <tr><th>장르</th><th>방송사</th><th>제목</th></tr>
      </thead>
      <tr><th>지상파</th><td>SBS</td><td>긴급출동 SOS</td></tr>
      <tr><th>케이블·위성</th><td>YTN</td><td>돌발영상</td></tr>
      <tr><th>DMB</th><td>한국DMB</td><td>심심탈출 명랑고교</td></tr>
      </table>
      </div>
    </div>
  </section>
</main>

{% include footer.html %}

<script src="assets/script.js"></script>
<script>document.getElementById("year").textContent = new Date().getFullYear();</script>

</body>
</html>
